<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> About Dictionary & me </h1>
    <p>Hey, I'm Anna and I love programming.</p>
    <p>Once I was asked to make my own serwer and I decided the best thing is my own</p>
    <p>Dictionary!</p>
    <p> So often we encounter problems with understanding foreign texts in english.</p>
    <p> Here comes my web server to help you with any word, which</p>
    <p>	meaning you didn't know or you can get a translation to one of five</p>
    <p> most popular languages.<p>
	
    <p>Welcome!</p>

    {% endblock %}
  </body>
</html>
