<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

	<p> Enter an unknown word:</p>
	<form method="post" action=".">
	    <p><input name="word" /></p>
	    <p><input type="submit" name="submit button" value="Find the definition" /></p>
	    <p><input type="submit" name="submit button" value="Find the synonym" /></p>
	    <p><input type="submit" name="submit button" value="Find the antonym" /></p>
	</form>
    
    {% endblock %}
  </body>
</html>
